body {
  font-family: "Rowdies", sans-serif;
}

.container-fluid {
  padding: 0px;
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav.navbar {
  max-height: 82px;
  flex: 1;
}

.start-page {
  flex: 1;
  display: flex;
  min-height: 50vh;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  align-content: center;
  justify-content: center;
}

div.question-card {
  flex: 1;
  margin: 15px;
}

button.next {
  margin: 0 15px 15px 15px;
  a,
  a:hover {
    color: white;
    text-decoration: none;
  }
}

button.options {
  width: 100%;
  margin: 5px 0 5px 0;
  background-color: silver;
  border-color: white;
}

button.options:disabled {
  background-color: silver;
  border-color: white;
}

button.options.correct {
  background-color: green;
  border-color: green;
}

button.options.incorrect {
  background-color: red;
  border-color: red;
}

button.options.highlight {
  border-color: black;
  border-width: 5px;
}

.question-detail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.score-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20vw;
}

div.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  h3 {
    text-align: center;
  }
}
