body {
  font-family: "Rowdies", sans-serif;
}

.container-fluid {
  padding: 0px;
}

.start-page {
  margin: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  align-content: center;
  justify-content: center;
}

.game-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

div.question-card {
  flex: 1;
  margin: 25px;
}

button.next {
  margin: 25px;
}

button.options {
  width: 100%;
  margin: 5px 0 5px 0;
  background-color: silver;
  border-color: white;
}

button.options:disabled {
  background-color: silver;
  border-color: white;
}

button.options.correct {
  background-color: green;
  border-color: green;
}

button.options.incorrect {
  background-color: red;
  border-color: red;
}

button.options.highlight {
  border-color: black;
  border-width: 5px;
}

.immediate-result {
  display: flex;
  justify-content: center;
}
